#comment-save-data ul {
  padding:0px!important;
}
#comment-save-data .item-list ul#my-list{margin: 0px;}
/*#comment-save-data ul li{
  border-bottom: 1px solid #BBBBBB;
  padding: 10px 0;
}*/

/*#comment-save-data ul li .pp-image-mini-wrap-floatright{
  border: 1px solid;
  float: right;
  margin: 0 !important;
  padding: 4px;
  width: 30px;
}*/
